include ../../common/mixins.pug
-
	var featList = [
		{
			title: "<?=Yii::t('app', 'Privacy')?>",
			desc: "<?=Yii::t('app', 'The application doesn’t collect your personal data.')?>",
			icon: "secure"
		},
		{
			title: "<?=Yii::t('app', 'No limits blocker')?>",
			desc: "<?=Yii::t('app', 'There are no limits on the number of blocked phone calls and messages in REKK.')?>",
			icon: "infinity"
		},
		{
			title: "<?=Yii::t('app', 'Absence of Notifications')?>",
			desc: "<?=Yii::t('app', 'The application doesn’t notify the caller that they are blocked.')?>",
			icon: "anonim"
		}
	]
section.features
	.features__container.container
		h2.features__title <?=Yii::t('app', 'Advantages blocker')?>
		ul.features__list
			each item in featList
				li.features__item
					.features__item-img
						+icon(item.icon, `features__item-icon features__item-icon--${item.icon}`)
					h3.features__item-title=item.title
					.features__item-desc.desc=item.desc
		.features__buttons
			.features__btn
				a.apple-btn(class="apple-btn--features" type="button" href="https://apps.apple.com/ru/app/rekk-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0-%D0%B7%D0%B2%D0%BE%D0%BD%D0%BA%D0%BE%D0%B2/id1562630414" onclick=`gtag('event', 'click', {'event_category': "blocker_advantages",'event_label': "dwnld_blocker_ios"})`)
					+icon("apple", "apple-btn__icon")
					.apple-btn__text <?=Yii::t('app', 'Download on AppStore')?>