include ../../common/mixins.pug
-
	var funcList = [
		{
			img: "blocker-func-01",
			title: "<?=Yii::t('app', 'Caller Identification')?>",
			desc: "<?=Yii::t('app', 'REKK identifies who is calling you before you pick up')?>"
		},
		{
			img: "blocker-func-02",
			title: "<?=Yii::t('app', 'Call Blocking')?>",
			desc: "<?=Yii::t('app', 'Block phone calls from unwanted numbers to get rid of annoying spam')?>"
		},
		{
			img: "blocker-func-03",
			title: "<?=Yii::t('app', 'SMS Blocking')?>",
			desc: "<?=Yii::t('app', 'Block incoming text messages from annoying callers and SMS with unwanted keywords (sales, discount, social survey, special offer, etc.)')?>"
		},
		{
			img: "blocker-func-04",
			title: "<?=Yii::t('app', 'Number Lookup')?>",
			desc: "<?=Yii::t('app', 'Learn who called you after a missed incoming call (the caller’s company, category, location, etc.)')?>"
		},
		{
			img: "blocker-func-05",
			title: "<?=Yii::t('app', 'Up-to-date Phone Number Database')?>",
			desc: "<?=Yii::t('app', 'The spam number database is constantly updated for accurate caller identification')?>"
		},
		{
			img: "blocker-func-06",
			title: "<?=Yii::t('app', 'Convenient Navigation')?>",
			desc: "<?=Yii::t('app', 'REKK - Call Blocking is an easy-to-use application with a user-friendly interface. ')?>"
		}
	]

section.functions
	.functions__container.container
		h2.functions__title <?=Yii::t('app', 'Features')?>
		ul.functions__list
			each item in funcList
				li.functions__item
					.functions__item-image
						+image(`content/${item.img}`, "png", "functions__item-img")
						//- img.functions__item-img(src=`/assets/img/content/${item.img}`)
					.functions__item-title=item.title
					.functions__item-desc=item.desc