include ../../common/mixins.pug

section.hero
	.hero__container.container
		.hero__text-content
			h1.hero__title Call blocker
			.hero__desc.desc <?=Yii::t('app', 'Record all incoming and outgoing phone calls and convert them to text with REKK application for iOS and Android')?>
			.hero__text-content-img
				+image("/content/mob-hero-phones", "png", "hero__text-content-image animate__animated animate__headShake")
			.hero__buttons
				.hero__btn
					+appleBtn("hero", "<?=Yii::t('app', 'Download on AppStore')?>", "mobile_hero", "dwnld_appstore")
				.hero__btn
					+recBtn("playmarket", "<?=Yii::t('app', 'Download on Google Play')?>", "", "https://play.google.com/store/apps/details?id=rekk.call.recorder", "android", "mobile_hero", "dwnld_googleplay")
		.hero__image
			.hero__image-wrap
				+image("content/main-hero", "png", "hero__image-img animate__animated animate__fadeInBottomLeft")
				.hero__image-circle.hero__image-circle--violet.animate__animated.animate__zoomIn
				.hero__image-circle.hero__image-circle--yellow.animate__animated.animate__zoomIn
				.hero__image-circle.hero__image-circle--green.animate__animated.animate__zoomIn
				.hero__image-figure.animate__animated.animate__zoomIn