include ../../common/mixins.pug
section.hero.hero--blocker
	.hero__container.container
		.hero__text-content
			h1.hero__title <?=Yii::t('app', 'REKK - Call Blocking')?>
			.hero__desc.desc <?=Yii::t('app', 'Find out who is calling you before you pick up and block incoming calls from unwanted phone numbers.')?>
			.hero__text-content-img
				+image("/content/desktop-hero-blocker-mobiles", "png", "hero__text-content-image animate__animated animate__headShake")
			.hero__buttons
				a.apple-btn(class="apple-btn--features" type="button" href="https://apps.apple.com/ru/app/rekk-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0-%D0%B7%D0%B2%D0%BE%D0%BD%D0%BA%D0%BE%D0%B2/id1562630414" target="_blank" onclick=`gtag('event', 'click', {'event_category': "blocker_hero",'event_label': "dwnld_blocker_ios"})`)
					+icon("apple", "apple-btn__icon")
					.apple-btn__text <?=Yii::t('app', 'Download on AppStore')?>
			.mainhero__desc.desc <?=Yii::t('app', 'Compatible with iOs 12 or later.')?>
			
		.hero__image
			.hero__image-wrap
				+image("content/desktop-hero-blocker", "png", "hero__image-img animate__animated animate__fadeInBottomLeft")
				.hero__image-circle.hero__image-circle--violet.animate__animated.animate__zoomIn
				.hero__image-circle.hero__image-circle--yellow.animate__animated.animate__zoomIn
				.hero__image-circle.hero__image-circle--green.animate__animated.animate__zoomIn
				.hero__image-figure.animate__animated.animate__zoomIn