include ../../common/mixins.pug

section.how
	.how__container.container
		.how__text-content
			h2.how__title <?=Yii::t('app', 'HOW TO RECORD A CALL USING REKK?')?>
			.how__desc.desc <?=Yii::t('app', 'REKK records phone calls by creating a conference between you, the other party')?>
			ul.how__list
				li.how__item
					.how__item-text #[a.how__item-link(href="https://dashboard.rekk.io/register" target="_blank") <span><?=Yii::t('app', 'Create an online account')?></span><?=Yii::t('app', 'to get a service number for call recording.')?>] 
				li.how__item
					.how__item-text <?=Yii::t('app', 'Call REKK service number. Tap “Add+” on the call screen and select the person you’re going to call from the list of your Contacts.')?>
				li.how__item
					.how__item-text <?=Yii::t('app', 'When the call is accepted, tap “Merge calls”.')?>
				li.how__item
					.how__item-text <?=Yii::t('app', 'After the call, log in to your online account and tap “Recordings” to listen to your calls.')?>