include ../../common/mixins.pug

section.manual
	.manual__container.container
		h1.manual__title REEK Audio Device Plug-in for Mac
		img(class="manual__image" src="/assets/img/content/manual/plugin-for-mac.png" alt="")
		p.manual__text If you would like to record sound from the computer, you should download and install REKK Audio Device Plug-in. After the download, open REKK Audio Device Plug-in.app and click the button "Install". If the app does not open, right-click it in Finder and select "Open".
		.rec-btn.rec-btn--manual
			a.rec-btn__btn(class=`manual-cta` href="https://net.rekk.io/driver/REKKAudioDriver.app.zip")
				.rec-btn__text Download Plug-in
