include ../../common/mixins.pug

section.manual
	.manual__container.container
		h1.manual__title REKK Аудио Плагин для Mac
		img(class="manual__image" src="/assets/img/content/manual/plugin-for-mac.png" alt="")
		p.manual__text Чтобы записывать звук с компьютера, необходимо скачать и установить REKK Аудио Плагин. После загрузки откройте REKK Audio Device Plug-in.app и выберите "Установить". Если приложение не открывается, кликните правой кнопкой мыши в Finder и выберите "Открыть". 
		.rec-btn.rec-btn--manual
			a.rec-btn__btn(class=`manual-cta` href="https://net.rekk.io/driver/REKKAudioDriver.app.zip")
				.rec-btn__text СКАЧАТЬ ПЛАГИН
