include ../../common/mixins.pug

section.faq
  .container
    h1 Как пользоваться REKK - блокировка звонков
    h3 1.	Я установил REKK. С чего начать?
    p Для полного функционирования приложения необходимо включить определитель спам номеров и определитель СМС-сообщений.
    h3 Как включить определитель спам номеров?
    p Откройте «Настройки» на iPhone > выберите «Телефон» > перейдите в «Блок. и идентиф. Вызова» > активируйте REKK.
    h3 Как включить определитель СМС-сообщений?
    p Откройте «Настройки» на iPhone > выберите пункт «Сообщение» > откройте пункт «Неизвестные и спам» > активируйте REKK.
    p Теперь REKK может автоматически определять абонента по номеру телефона и блокировать спам звонки и сообщения.
    h3 2.	Как заблокировать звонки от всех спам номеров?
    p Откройте REKK > выберите «Настройки» в правом нижнем углу экрана > выберите пункт «Спам звонки» в разделе общее > включите опцию «Блокировать».
    h3 3.	Как заблокировать звонки от определенного номера?
    p Откройте REKK > выберите «Блок. номера» в нижней части экрана > нажмите «Добавить» в правом верхнем углу > введите номер телефона и нажмите «ОК». Теперь Вы не будете получать входящие звонки от этого абонента.
    h3 4.	Как разблокировать звонки от определенного номера?
    p Откройте REKK > выберите «Блок. номера» в нижней части экрана > выберите номер из списка > нажмите «Разблокировать номер».
    h3 5.	Как заблокировать сообщения от нежелательного абонента?
    p Откройте REKK > выберите «СМС» в нижней части экрана > нажмите «Добавить» в правом верхнем углу > «По номеру телефона» > введите номер телефона и нажмите «ОК».
    h3 6.	Как заблокировать все входящие сообщения со словом «распродажа»?
    p Откройте REKK > выберите «СМС» в нижней части экрана > нажмите «Добавить» в правом верхнем углу > «По ключевому слову» > напишите «Распродажа» в поле и нажмите «ОК». Вы можете заблокировать входящие сообщения по любому ключевому слову, например “опрос”, “скидка”, “предложение”, “кредит”, и т. д.
    h3 7.	Не определяется номер телефона при входящем звонке. Как исправить?
    p Если у Вас возникли проблемы с определителем номера при входящем звонке, рекомендуем сбросить настройки определителя и обновить базу номеров. Для этого откройте REKK > выберите «Настройки» в правом нижнем углу экрана > выберите «Определитель» > нажмите «Сбросить» и дождитесь сообщение об успешном сбросе настроек.
    p Затем откройте приложение > выберите «Определитель» внизу экрана > нажмите «Обновить» в правом верхнем углу.
    h3 8.	При попытке сбросить настройки определителя номеров возникает ошибка. Что это значит и как исправить проблему?
    p Если при попытке сброса настроек возникает ошибка, это значит, что недавно Вы обновили базу номеров и процесс ее загрузки в приложение еще не завершен. Обновление базы номеров может занять до 30 минут. В этом случае Вам необходимо подождать некоторое время и повторить попытку сброса.
    h3 9.	Как обновить базу спам номеров?
    p Мы постоянно собираем новые данные о спам номерах из разных источников и пополняем базу номеров в приложении. На данный момент в базе зарегистрировано более полутора миллионов номеров. Не забывайте периодически обновлять базу номеров в приложении для точного определения спама. Чтобы обновить базу номеров, откройте приложение > выберите «Определитель» внизу экрана > нажмите «Обновить» в правом верхнем углу.