include ../../common/mixins.pug

section.manual
	.manual__container.container
		h1.manual__title REKK для iPhone. Как пользоваться и как записать разговор.
		.manual__container.container
			iframe(class="mobiles-manual__frame" src='https://www.youtube.com/embed/gN14e5uajxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')










