include ../../common/mixins.pug

section.manual
	.manual__container.container
		h1.manual__title Online Manual for REKK Call Recorder for Mac
		h2.manual__subtitle Preinstallation Information:
		ul.manual__list
			li.manual__item Please note that for the full functioning of the software, Audio Driver must be installed on your device. 
			li.manual__item To install the software, you’ll be asked to confirm your administrator privileges.
		h2.manual__subtitle 1.How to install the software
		p Step 1. Download the latest version of REKK Call Recorder for Mac from our official website:
		a.apple-btn(class="apple-btn--features" type="button" href="https://rekk.io/download/REKK%20-%20Call%20Recorder%20for%20Mac.mpkg.zip" target="_blank")
			+icon("apple", "apple-btn__icon")
			.apple-btn__text <?=Yii::t('app', 'Download for MacOS')?>
		p Step 2. Once the download is completed, find the installer in the Downloads folder. The file is REKK - Call Recorder 1.0.
		img.manual__image(src='/assets/img/content/manual/mac/installer-1.png' alt='')
		p Step 3. Press the Control button, right-click the installer, and select “Open”.
		img.manual__image(src='/assets/img/content/manual/mac/installer-2.png' alt='')
		p Step 4. Read the Warning and Return&refund policy and click “Continue”. Note that by clicking “Continue”, you agree to REKK Return&refund policy.
		img.manual__image(src='/assets/img/content/manual/mac/installer-3.png' alt='')
		p Step 5. Select “Install”.
		img.manual__image(src='/assets/img/content/manual/mac/installer-4.png' alt='')
		p Step 6. Confirm your administator priveleges.
		img.manual__image(src='/assets/img/content/manual/mac/installer-5.png' alt='')
		p Step 7. Complete the installation of the program.
		p Once the installation is completed, you can remove the installer. You’ll find REKK Call Recorder for Mac in Launchpad.
		h2.manual__subtitle 2. How to activate the license and trial period
		h3 After installation of the program:
		p Step 1. To open REKK Call Recorder, open Launchpad > Application > REKK.
		p Step 2. To try the application for free, select “Try the program”.
		img.manual__image(src='/assets/img/content/manual/mac/activation-1.png' alt='')
		p To activate the license, select “Activate license key” and enter your license data.
		img.manual__image(src='/assets/img/content/manual/mac/activation-2.png' alt='')
		h3 After the free trial expires:
		p To activate the license after the free trial, open Menu Application > REKK > About and enter the license data. 
		img.manual__image(src='/assets/img/content/manual/mac/activation-3.png' alt='')
		h2.manual__subtitle 3. How to install the components
		p Step 1. Open REKK to complete the installation of the necessary components.
		p <b>WARNING!</b> It’s strongly recommended to disable all applications reproducing the sound before you start installing the components. 
		img.manual__image(src='/assets/img/content/manual/mac/components-1.png' alt='')
		p Step 2. Confirm your administrator privileges and complete the installation.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-09 at 10.28.26.png' alt='')
		h2.manual__subtitle 4. How to record voice calls
		p Step 1. To record a voice call, click the REKK tray icon and select “Start audio recording”.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.05.13.png' alt='')
		p Once REKK starts recording your call, you’ll see the duration and size of your call.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.07.04.png' alt='')
		p If you need to adjust the volume when the call is being recorded, click the REKK tray icon and change the volume.
		p Step 2. To stop recording your call, click the tray icon and select “Stop audio recording”.
		p Step 3. To access the record, click the tray icon and open the REKK main window.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.03.54.png' alt='')
		p Step 4. To listen to your call, select the recording and click on it. 
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.08.09.png' alt='')
		h2.manual__subtitle 5. How to record video calls
		p Step 1. To record a video call, click the tray icon and select “Start video recording”.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.05.13.png' alt='')
		p Once REKK starts recording your video call, you’ll see the duration and size of your call.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.07.04.png' alt='')
		p Step 2. To stop recording your video call, click the tray icon and select “Stop recording”. 
		p Step 3. To access your video call, click the tray icon, and open the main window.
		img.manual__image(src='/assets/img/content/mac-screen-02.png' alt='')
		h2.manual__subtitle 6. How to use extra features? 
		p REKK offers some additional features for your convenience.
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.05.36.png' alt='')
		p Click #[img.manual__image-icon(src='/assets/img/content/settings-btn.png' alt='')] near the recorded call to:
		ul.manual__list.manual__list--mac
			li.manual__item Share your record via messengers, social applications, or email.
			li.manual__item Rename the record;
			li.manual__item Show the recorded file in Finder;
			li.manual__item Make a note near the record;
			li.manual__item Delete the recorded call from the list of records.
		p Select #[img.manual__image-icon(src='/assets/img/content/favorite-btn.png' alt='')] near the recorded call to add it to Favorites.
		p Click #[img.manual__image-icon(src='/assets/img/content/edit-btn.png' alt='')] to read the note you made near the record. 
		h2.manual__subtitle 7. How to uninstall REKK Call Recorder for Mac
		p To uninstall the program, go to the menu bar > open the REKK menu > select “Uninstall REKK- Call Recorder”. 
		img.manual__image(src='/assets/img/content/manual/mac/Screenshot 2020-07-08 at 10.05.25.png' alt='')
		h2.manual__subtitle 8. How to contact technical support
		p If you happen to need any assistance, feel free to contact our technical support by going to the menu bar > About > Support. Remember to mention the unique code in your support request.










