extends ../common/layout

block variables
	-var title = "Smart Call Recording"

block content
	section.faq
		.container
			h1 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
			h3 КАК РАБОТАЕТ REKK?
			p REKK записывает телефонные разговоры с помощью функции конференц-связи, предоставляемой Вашим оператором. Приложение записывает все реплики собеседников, пока один из них не повесит трубку.
			h3 ПОЧЕМУ КНОПКА «ОБЪЕДИНИТЬ» НЕ РАБОТАЕТ?
			p REKK записывает звонки, создавая конференцию между Вами, Вашим собеседником и нашим сервисным номером, записывающим разговор. Для того, чтобы создать такой звонок, Ваш мобильный оператор должен поддерживать функцию конференц-связи. Без нее кнопка «объединить» не сработает и REKK не сможет записать разговор. Вам необходимо просто позвонить Вашему оператору и попросить подключить функцию конференц-связи. Как только оператор подключит данную функцию, Вы сможете объединить звонок. Цена данной функции зависит от Вашего тарифного плана и оператора.
			h3 СКОЛЬКО ЗВОНКОВ Я МОГУ ЗАПИСАТЬ?
			p Вы можете сделать неограниченное количество записей.
			h3 КАК ДОЛГО МОЖНО ЗАПИСЫВАТЬ ЗВОНОК?
			p Столько, сколько Вам необходимо!
			h3 КАК МНЕ ПРОСЛУШАТЬ ЗАПИСЬ?
			p Зайдите в «Записи» и выберите ту запись, которую хотите прослушать.
			h3 КАК КОНВЕРТИРОВАТЬ ЗАПИСЬ В ТЕКСТ?
			p Разговоры конвертируются в текст автоматически. Скорость конвертации зависит от длительности разговора.
			h3 КАК ПЕРЕИМЕНОВАТЬ ЗАПИСЬ?
			p Зайдите в «Записи», смахните влево запись, которую хотите переименовать, и нажмите на иконку с карандашом.
			h3 КАК УДАЛИТЬ ЗАПИСЬ?
			p Откройте «Записи», смахните влево запись, которую собираетесь удалить, и нажмите на корзину.
			h3 КАК ОСТАВИТЬ ЗАМЕТКУ?
			p Откройте «Записи», выберите нужную запись, нажмите на кнопку «Заметка» и «оставить заметку».
			h3 КАК ДОЛГО ЗАГРУЖАЕТСЯ ЗАПИСЬ?
			p Обычно, пару секунд, но если запись длится более 30 минут, может потребоваться больше времени.
			h3 МОГУ ЛИ Я ПОДЕЛИТЬСЯ ЗАПИСЬЮ В СОЦИАЛЬНЫХ СЕТЯХ?
			p Да. Откройте «Записи», выберите необходимую запись и нажмите на кнопку «Поделиться» в верхнем правом углу экрана. Вы можете поделиться записями с помощью смс, Viber, WhatsApp или скопировать их в Dropbox, Evernote, Google Drive.
			h3 ЧТО СЛУЧИТСЯ С МОИМИ ЗАПИСЯМИ, ЕСЛИ Я ПОМЕНЯЮ НОМЕР ТЕЛЕФОНА?
			p Если Вы поменяете номер телефона, Ваши записи останутся в аккаунте, привязанном к первому номеру телефона. Чтобы перенести записи в новый аккаунт, напишите нам на support@rekk.io. Имейте ввиду, что мы не сможем перенести Ваши записи в новый аккаунт, если Вы не подключили функцию резервного копирования. Чтобы подключить данную функцию, откройте «Настройки», нажмите на «Записи» и выберите «Резервное копирование».
			h3 ЧТО СТАНЕТ С ЗАПИСЯМИ, ЕСЛИ Я ПОМЕНЯЮ ТЕЛЕФОН?
			p Ваши записи будут в безопасности, даже если Вы потеряли или поменяли телефон, но только в том случае, если Вы подключили «Резервное копирование». Они будут храниться в облаке, не на вашем устройстве. Чтобы подключить данную функцию, откройте «Настройки», нажмите «Записи» и «Резервное копирование».
			h3 СКОЛЬКО СТОИТ ЗВОНОК НА СЕРВИСНЫЙ НОМЕР?
			p Мы предоставляем сервисные номера REKK в крупных городах. Стоимость звонка на сервисный номер зависит от Вашего тарифного плана и оператора.
			h3 ГДЕ ДОСТУПЕН REKK?
			p На данный момент, REKK доступен в России, Великобритании, США, Канаде, Испании, Италии, Мексике, Бразилии, Нидерландах, Украине и Польше.
			h3 КАК МНЕ С ВАМИ СВЯЗАТЬСЯ?
			p Если у Вас возникнут какие-либо вопросы, Вы всегда можете обратиться в наше техническую поддержку - support@rekk.io.
block scripts
	//- script(src="/assets/js/index.min.js")