extends ../common/layout

block variables
	-var title = "Smart Call Recording"

block content
	include ../includes/index/mainhero.pug
	include ../includes/index/why.pug

block scripts
	script(src="/assets/js/index.min.js")