extends ../common/layout

block variables
	-var title = "Smart Call Recording"

block content
	include ../includes/mac/deskhero.pug
	include ../includes/mac/screenshots.pug
	include ../includes/mac/features.pug
	include ../includes/mac/version.pug

block scripts
	script(src="/assets/js/desktop.min.js")