extends ../common/layout

block variables
	-var title = "Smart Call Recording"

block content
	section.privacy
		.container
			h1 Return&refund policy
			p This return and refund policy is applicable for the following applications hereinafter referred to as Product: REKK Call Recorder for iOS, REKK Call Recorder for Android, REKK Call Recorder for MacOS, REKK Call Recorder for Windows and REKK cloud-based solution for call recording. 
			p In case a Product doesn’t work as promised, or you have technical difficulties with it, a full refund might be issued only in case our technical support team is unable to resolve it and the following conditions are observed:
			p – All problems and issues must be reported within 72 hours after purchase
			p – All required information for solving the issue must be provided by the customer
			p – You can only be refunded once. Each customer is only eligible for one refund, if you own more than one Product license only the one, reported to be non-functional, will be refunded.
			p Our support is available 7 days a week and we always do our best to solve problems. You are eligible for a full refund within 14 days since the day of purchase, only if our team cannot help you within this time frame. No refunds will be issued later than 14 days since the day of purchase.
			p Other refund conditions: (the following conditions describe cases when REKK cannot provide a refund due to the fact that these conditions are completely beyond REKK’s control)
			p – No refund can be issued in case the customer does not follow technical support guidelines or refuses customer support help.
			p – If the customer couldn’t provide all the necessary data. This includes cases when customer might be required to get remote assistance.
			p – If the customer has just changed his or her mind. Personal reasons (“I do not like it”, “I never installed the program”, “I did not mean to buy the program”) are not qualified for a refund.
			p – If the customer does not have access to the target device.
			p – If the Product was detected by a user, who was unaware of its presence. Or Product was detected or blocked by anti-virus software – any activity of other applications is not REKK responsibility, however, when notified about such issue we will address the anti-virus developer on your behalf to correct the False Positive and also provide instructions on how to avoid detection.
			p – If the target device runs incomplete, pirated, not fully operational, or incompatible version of the operating system. All compatible OS versions are listed on the Product page. The customer is solely responsible for the compatibility of their device with the Product.
			p – If on the target computer full or partial reinstallation of the operating system took place, which resulted in Product being blocked.
			p Refund Procedure:
			p All refund requests must be sent to #[a(href="mailto:support@rekk.io" target="_blanc" class="link") support@rekk.io.] Refunds are not accepted via any other contact channel.
			p In cases when the refunds are approved and issued due to any other reason than the abovementioned ones the refunded amount will be 9% less than the paid amount due to fees related to payment processing fee charged by payment processors and banks.

block scripts
	//- script(src="/assets/js/index.min.js")