extends ../common/layout

block variables
	-var title = "Smart Voicerecording For Mobile"

block content
	include ../includes/voicerecorder/hero.pug

block scripts
	script(src="/assets/js/mobile.min.js")