include ../common/mixins.pug


footer.footer
	.footer__container.container
		.footer__content
			.footer__content-wrap
				a.footer__logo(href="/")
					+image("content/logo-footer", "png", "footer__logo-pic", "REKK logo")
				nav.footer__nav
					.footer__nav-wrap
						h3.footer__nav-title <?=Yii::t('app', 'REKK products')?>
						ul.footer__nav-list
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'For mobiles'), ['/mobile'], ['class'=>'footer__nav-item-link'])?>
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'For Mac'), ['/mac'], ['class'=>'footer__nav-item-link'])?>
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'A cloud-based solution'), ['/cloud'], ['class'=>'footer__nav-item-link'])?>
					.footer__nav-wrap
						h3.footer__nav-title <?=Yii::t('app', 'Information')?>
						ul.footer__nav-list
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'Blog'), ['/blog'], ['class'=>'footer__nav-item-link'])?>
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'Privacy policy'), ['/privacy'], ['class'=>'footer__nav-item-link'])?>
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'FAQ'), ['/faq'], ['class'=>'footer__nav-item-link'])?>
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'Terms & Conditions'), ['/terms'], ['class'=>'footer__nav-item-link'])?>
					.footer__nav-wrap
						h3.footer__nav-title <?=Yii::t('app', 'Contacts')?>
						ul.footer__nav-list
							li.footer__nav-item
								<?=yii\helpers\Html::a(Yii::t('app', 'Contact us'), ['/support'], ['class'=>'footer__nav-item-link'])?>
			.footer__text 
		.footer__copy <?=Yii::t('app', 'Copyright © 2020 REKK')?>
