include ../common/mixins.pug


footer.footer
	.footer__container.container
		.footer__content
			.footer__content-wrap
				.footer__logo
					+image("content/logo-footer", "png", "footer__logo-pic")
				nav.footer__nav
					.footer__nav-wrap
						h3.footer__nav-title REKK products
						ul.footer__nav-list
							li.footer__nav-item
								a.footer__nav-item-link(href="/") For mobile
							li.footer__nav-item
								a.footer__nav-item-link(href="/") For desktop
							li.footer__nav-item
								a.footer__nav-item-link(href="/") Second number
					.footer__nav-wrap
						h3.footer__nav-title Information
						ul.footer__nav-list
							li.footer__nav-item
								a.footer__nav-item-link(href="/") Privacy Policy
							li.footer__nav-item
								a.footer__nav-item-link(href="/") Privacy Policy
							li.footer__nav-item
								a.footer__nav-item-link(href="/") Terms and Conditions
					.footer__nav-wrap
						button.footer__nav-title(tupe="button") Contact Us
			.footer__text SOFTWARE INTENDED FOR LEGAL USE ONLY. It is the violation of the applicable law and your local jurisdiction laws to install the Licensed Software onto a device you do not own.The law generally requires you to notify owners of the devices...
		.footer__copy Copyright © 2020 REKK
