include ./mixins.pug
aside.form__wrap
	form.form(action="")
		button.form__close(type="button" aria-label="close form")
			+icon("close", "form__close-btn")
		.form__content
			h3.form__title <?=Yii::t('app', 'If you have any questions about REKK products, we’ll gladly answer them.')?>
			.form__inputs
				label.form__label.form__label--name
					input#formName.form__inputs-input(type="text" name="name" placeholder="<?=Yii::t('app', 'Your name')?>")
					.form__input-error.form__input-error--name <?=Yii::t('app', 'Enter your name')?>
				label.form__label.form__label--email
					input#formEmail.form__inputs-input(type="text" name="email" placeholder="<?=Yii::t('app', 'Email')?>")
					.form__input-error.form__input-error--email <?=Yii::t('app', 'Enter a valid email address')?>
			label.form__label.form__label--message
				textarea#formMessage.form__textarea-input(name="message", cols="30", rows="10" placeholder="<?=Yii::t('app', 'Message')?>")
				.form__input-error.form__input-error--message <?=Yii::t('app', 'Type something')?>
			.form__send-button
				button.form__send-button-btn(type="submit")
					.form__send-button-btn-text <?=Yii::t('app', 'Send')?>
					.form__send-button-btn-icon
						+icon("arrow-right", "form__send-button-btn-icon-pic")
				.form__input-error.form__input-error--server <?=Yii::t('app', 'Something went wrong. Refresh the page and try again. ')?>