include ../common/mixins.pug

header.header
	.container.container--header
		.header__content
			a.header__logo(href="/")
				img.header__logo-img(src="/assets/img/content/logo.png" alt="REKK logo")
			nav.header__navigation

				ul.header__main-menu
					li.header__main-menu-item.header__main-menu-item--title <?=Yii::t('app', 'Menu')?>
					li.header__main-menu-item
						button.header__main-menu-item-link.header__main-menu-item-link--apps(type="button") <?=Yii::t('app', 'Applications')?>
						ul.submenu
							li.submenu__item
								.submenu__item-title <?=yii\helpers\Html::a(Yii::t('app', 'Call Recorder for mobiles'), ['/mobile'], ['class'=>'submenu__item-link'])?>
								.submenu__item-description <?=yii\helpers\Html::a(Yii::t('app', 'iOS & Android apps for phone call recording'), ['/mobile'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								.submenu__item-title <?=yii\helpers\Html::a(Yii::t('app', 'Call Recorder for Mac'), ['/mac'], ['class'=>'submenu__item-link'])?>
								.submenu__item-description <?=yii\helpers\Html::a(Yii::t('app', 'Mac application for recording calls made with IMs'), ['/mac'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								.submenu__item-title <?=yii\helpers\Html::a(Yii::t('app', 'Voice Recorder'), ['/voicerecorder'],['class'=>'submenu__item-link badge-for-ios'])?>
								.submenu__item-description <?=yii\helpers\Html::a(Yii::t('app', 'iOS application for voice recording & speech transcription'), ['/voicerecorder'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								.submenu__item-title <?=yii\helpers\Html::a(Yii::t('app', 'REKK - Call Blocking'), ['/blocker'],['class'=>'submenu__item-link badge-for-ios'])?>
								.submenu__item-description <?=yii\helpers\Html::a(Yii::t('app', 'iOS application for find out who is calling you before you pick up'), ['/blocker'], ['class'=>'submenu__item-link'])?>
							
					//- li.header__main-menu-item
					//- 	<?=yii\helpers\Html::a(Yii::t('app', 'For mobiles'), ['/mobile'], ['class'=>'header__main-menu-item-link'])?>
					//- li.header__main-menu-item
					//- 	<?=yii\helpers\Html::a(Yii::t('app', 'For Mac'), ['/mac'], ['class'=>'header__main-menu-item-link'])?>
					//- //- li.header__main-menu-item
					//- //- 	<?=yii\helpers\Html::a(Yii::t('app', 'For Windows'), ['/desktop'], ['class'=>'header__main-menu-item-link'])?>
					//- li.header__main-menu-item
					//- 	<?=yii\helpers\Html::a(Yii::t('app', 'Without an app'), ['/cloud'], ['class'=>'header__main-menu-item-link'])?>
					li.header__main-menu-item
						//- .header__main-menu-item-link.badge-for-ios REKK Voice Recorder
						<?=yii\helpers\Html::a(Yii::t('app', 'Without an app'), ['/cloud'], ['class'=>'header__main-menu-item-link'])?>
					li.header__main-menu-item
						button.header__main-menu-item-link.header__main-menu-item-link--submenu(type="button") <?=Yii::t('app', 'Information')?>
						ul.submenu
							li.submenu__item
								<?=yii\helpers\Html::a(Yii::t('app', 'Blog'), ['/blog'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								<?=yii\helpers\Html::a(Yii::t('app', 'Privacy policy'), ['/privacy'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								<?=yii\helpers\Html::a(Yii::t('app', 'Return & Refund policy'), ['/refund'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								<?=yii\helpers\Html::a(Yii::t('app', 'FAQ'), ['/faq'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								<?=yii\helpers\Html::a(Yii::t('app', 'Terms & Conditions'), ['/terms'], ['class'=>'submenu__item-link'])?>
							li.submenu__item
								<?=yii\helpers\Html::a(Yii::t('app', 'Online manuals'), ['/manual'], ['class'=>'submenu__item-link'])?>
					li.header__main-menu-item
						button.header__main-menu-item-link.openFormBtn(type="button") <?=Yii::t('app', 'Contact us')?>
				.header__user-menu
					.header__user-menu-langs.header__user-menu-langs--langs
						button.langs__btn(type="button") 
							.langs__btn-wrap
								img.langs__btn-icon(src="" alt="")
								.langs__btn-text En
						ul.langs__list
							li.langs__item
								a.langs__item-link(href="/en" data-lang="En") English
							li.langs__item
								a.langs__item-link(href="/it" data-lang="It") Italiano
							li.langs__item
								a.langs__item-link(href="/es" data-lang="Es") Español
							li.langs__item
								a.langs__item-link(href="/pt" data-lang="Pt") Português
							li.langs__item
								a.langs__item-link(href="/ru" data-lang="Ru") Русский
							li.langs__item
								a.langs__item-link(href="/fr" data-lang="Fr") Français
							li.langs__item
								a.langs__item-link(href="/de" data-lang="De") Deutsche
					a.header__user-menu-login(href="https://dashboard.rekk.io/login" onclick=`gtag('event', 'click', {'event_category': 'header','event_label': 'login'})`)
						+icon("user", "header__user-menu-login-icon")
						.header__user-menu-login-text <?=Yii::t('app', 'Login')?>
			//- hamburger-menu
			button.hamburger.hamburger--collapse(type="button" aria-label="navigation-menu")
				span.hamburger-box
					span.hamburger-inner