section.mainhero
	.mainhero__container.container
		h1.mainhero__title Запись и расшифровка звонков для&nbsp;Android, macOS, iOS
		.mainhero__desc.desc Запись разговора без установки приложения
		ul.mainhero__list.animate__animated.animate__zoomIn
			li.mainhero__item
				.mainhero__item-text
					h3.mainhero__item-title Запись разговора на iOS и Android
					ul.mainhero__item-list
						li.mainhero__item-item Расшифровка голоса
						li.mainhero__item-item Запись разговора в облако
				.mainhero__item-button
					a.mainhero__item-link(href="/mobile.html") Подробнее
			li.mainhero__item
				.mainhero__item-text
					h3.mainhero__item-title Запись разговора на MacOS И PC(beta)
					ul.mainhero__item-list
						li.mainhero__item-item Расшифровка голоса
						li.mainhero__item-item Запись разговора в облако
				.mainhero__item-button
					a.mainhero__item-link(href="/desktop.html") Подробнее
			li.mainhero__item
				.mainhero__item-text
					h3.mainhero__item-title Второй номер
					ul.mainhero__item-list
						li.mainhero__item-item Расшифровка голоса
						li.mainhero__item-item Запись разговора в облако
						li.mainhero__item-item Независимо от операционной системы
				.mainhero__item-button
					a.mainhero__item-link(href="/second.html") Подробнее