section.deskhero
	.deskhero__container.container
		.deskhero__text
			h1.deskhero__title Запись разговора на MacOS и PC<span>beta</span>
			.deskhero__desc.desc Record calls and transcription of recordings into the text with a search feature
			.deskhero__buttons
				+appleBtn("deskhero")
				+pcBtn("deskhero")
		.deskhero__image
			.deskhero__image-main.animate__animated.animate__flipInY
			.deskhero__image-circle.deskhero__image-circle--violet.animate__animated.animate__zoomIn
			.deskhero__image-circle.deskhero__image-circle--yellow.animate__animated.animate__zoomIn
			.deskhero__image-circle.deskhero__image-circle--green.animate__animated.animate__zoomIn