include ../../common/mixins.pug

section.hero.hero--voicerecorder
	.hero__container.container
		.hero__text-content
			h1.hero__title <?=Yii::t('app', 'REKK Voice Recorder for iPhone')?>
			.mainhero__desc.desc <?=Yii::t('app', 'Compatible with iOS 12 or later.')?>
			.hero__desc.desc <?=Yii::t('app', 'A free and easy-to-use application for voice recording and speech transcription on iPhone. REKK records surrounding sounds and provides you with only high-quality recordings in AIFF, MP4, M4A and WAV formats.')?>
			.hero__text-content-img
				+image("/content/mob-hero-phones-voice", "png", "hero__text-content-image animate__animated animate__headShake")
			.hero__buttons
				.hero__btn
					+appleBtn("hero", "<?=Yii::t('app', 'DOWNLOAD FOR IPHONE')?>", "mobile_hero", "dwnld_appstore_voice")

		.hero__image
			.hero__image-wrap
				+image("content/voice-hero", "png", "hero__image-img animate__animated animate__fadeInBottomLeft")
				.hero__image-circle.hero__image-circle--violet.animate__animated.animate__zoomIn
				.hero__image-circle.hero__image-circle--yellow.animate__animated.animate__zoomIn
				.hero__image-circle.hero__image-circle--green.animate__animated.animate__zoomIn
				.hero__image-figure.animate__animated.animate__zoomIn