section.blog
	.container
		h1.text-center.text-primary.m-5.display-1 5 Ways to Record a Phone Call On iPhone
		p
			|	There&rsquo;s no doubt that iPhone has many features that make our lives easier. Yet, it doesn&rsquo;t provide us with all the necessary features. When we want to record a phone call, we face the same problem &ndash; there isn&rsquo;t a built-in phone call recorder in this device. Luckily, there are a couple of ways to record outgoing and incoming calls on this smartphone. Read on to learn 5 best ways to record a phone call on your iPhone.
		h2.display-3 1. Use REKK-Call Recorder
		img.blog-image(src='/assets/img/content/blog/REKK.png' alt='')
		p
			| The easiest way to record phone calls on your iPhone is to install an app that is designed specifically for this purpose. REKK-Call Recorder is number one app to record iPhone calls. For now, it is the only free call recording app available on the AppStore. Besides, there is no limit on the amount of your calls and on how long you can record a call for. REKK enables you not only record your conversation, but also convert it into text. Other pros of the app are its modern and simple user interface, backup copies of your recordings, an opportunity to share your audio recordings through other apps such as Message, Viber, Whatsapp, and an ability to create a link to share the file with your acquaintances. The steps to record a call with REKK are very easy:
		img.blog-image(src='/assets/img/content/blog/1.png' alt='')
		p
			| To record an incoming call, accept the call that you want to record and minimize the call screen. Then open REKK and tap the big round button to record the call. Go back to the call screen and tap &quot;Merge calls&quot;. Your call is being recorded now.
		p
			| To record an outgoing call, just open REKK and dial the number or select it from the list of contacts and tap the &quot;Call&quot; button. REKK will call the service number first. The notification with the service number will appear on the screen. Tap &quot;Call&quot;. When the service number accepts the call, you will see another notification with the number that you are calling. Tap &quot;Call&quot; again. When the call is accepted, tap &quot;Merge calls&quot;.
		p You can install the app and test it for free right now.
		h2.display-3 2. Use Speaker Mode and Another Device to Record Your Call
		img.blog-image(src='/assets/img/content/blog/speaker.png' alt='')
		p
			| This is also a simple way of recording a phone call on your iPhone. Just get another device with a microphone that can record (like a computer, laptop, iPad, or portable recording device) to get the job done. Make sure it&rsquo;s quiet around you. Use your iPhone&rsquo;s speakerphone, it couldn&rsquo;t be simpler to pull off:
		p
			| First of all, call your friend and tap on the Speaker icon. In case you have Bluetooth headphones connected, you&rsquo;ll have to chose the iPhone speaker from the list. Tell your friend that you&rsquo;re going to record your conversation. Then just start recording the conversation on another device. Don&rsquo;t forget to save the recording on the external device when your phone call is finished. It&rsquo;s so easy, isn&rsquo;t it?
		h2.display-3 3. Record Your Calls Using Google Voice
		img.blog-image(src='/assets/img/content/blog/google.png' alt='')
		p If you want to record only incoming calls, Google Voice is definitely for you!
		p
			| Provided you already have a Google Voice number, you can simply enable this feature in the settings. To do it, just go to the Settings on your iPhone app &gt; Calls &gt; Incoming call options.
		p
			| When you&rsquo;re on a call, press the number 4 button from Google Voice&rsquo;s keypad to begin the recording of your conversation. Note that your call is recorded only if you use Google Voice number over VoIP. Remember to tell your partner that you&rsquo;re recording this phone call (when you press the number 4 button, Google will say that recording has started). Despite the fact that recording your conversations with Google Voice is rather limited, it enables you to record an unlimited number of conversations for free.
		h2.display-3 4. Record a Phone Call With Your Voicemail
		p
			| This way is pretty easy but it depends on your carrier whether it works on your iPhone. First, you should make sure your carrier allows you to download your voicemail messages. To check if this method works for you, you need to launch the Phone app on your iPhone and tap on the Voicemail tab.
		img.blog-image(src='/assets/img/content/blog/voicemail.png' alt='')
		p
			| If you see a list of voicemail messages appear, this method meets your needs. You can download your conversations and even save and keep them on your device.
		p
			| After checking if this method works for you, you can call your contact. Remember to notify them you are going to record this conversation. Ask your friend to hold the line for a second and tap the Add Call button to start a three-way call. Then call your own phone number. Provided everything is ok, you&rsquo;ll get straight to your own voicemail inbox. Finally, you should wait for the voicemail greeting to finish and tap Merge Calls to start the conference.
		h2.display-3 5. Record With the Help of  Mac (Both FaceTime Calls and Phone Calls)
		img.blog-image(src='/assets/img/content/blog/first.png')
		p
			| This final method requires a Mac which allows you to use QuickTime to record both phone and FaceTime conversations. Note that this works only if you&rsquo;re talking to friend in speaker mode because it can&rsquo;t record the audio coming from the headphones. On your Mac, open QuickTime menu bar. After it, chose File and then New Audio Recording. Click on the drop-down next to the recording button. Check if the microphone input is set to Internal Microphone. Tap the Recording Button and start your conversation.
		p Which method is for you?
		p
			| If you analyze all the pros and cons of the mentioned ways to record phone calls, you&rsquo;ll see that the first way is the easiest one. Besides, using a call recording app such as REKK guarantees you a high-quality audio recording with the ability to convert it into text. But if you don&rsquo;t mind using additional devices while recording your conversation or you need only incoming calls recorded, you can chose any method you like &ndash; it won&rsquo;t take you much time to record your call using any of the described ways.
