section.blog
	.container
		h1.text-center.text-primary.m-5.display-1 Call Recording Laws: International Comparison
		p
			| DISCLAIMER: the data provided in this article should be used only for informational purposes. Please consult your lawyer if you have specific questions concerning compliance with any relevant laws.
		p
			| It&rsquo;s a right of privacy to suppose that when you&rsquo;re talking on the phone, no one is listening except the person you&rsquo;re talking to. The history of the United States has numerous examples when this right was violated. That&apos;s why, laws exist to help understand when and under what circumstances such recording is permitted.
		p
		h2.display-3 United States
		p
			| For most developed democratic countries, taping of a phone call is strictly regulated in order to protect our privacy. In the United States, for instance, the Federal law requires that at least one party involved in the conversation be notified that the call is being recorded.
		p
		p
			| When it comes to the legitimacy of taping a call in the USA, the state laws usually require either single party consent or all party consent. 
			a(href='https://www.law.cornell.edu/uscode/text/18/2511' target='_blank') A one-party consent
			|  means that you should get consent from one of the participants of the call if you want to record it. One-party consent states are North Dakota, Ohio, Alabama, Arizona, Rhode Island, District of Columbia, Arkansas, Alaska, Colorado, Idaho, Georgia, Iowa, Hawaii, Indiana, Louisiana, Kentucky, West Virginia, Kansas, Maine, Missouri, New York, Minnesota, Mississippi, Nevada, Nebraska, Wisconsin, New Mexico, New Jersey, North Carolina, South Carolina, Oregon, Oklahoma, Tennessee, South Dakota, Utah, Texas, Virginia, Vermont, and Wyoming.
		p
			| However, various states have selected a two-party consent approach where all participants must be notified that you intend to record a call: Connecticut, Delaware, California, Massachusetts, Pennsylvania,  Illinois, Michigan, Florida, New Hampshire, Maryland, Montana, and Washington. The following map of the United States shows where you should get the consent of one party, and where you need the permission of all parties when you want to record a call or in-person conversation.
		p
			img.blog-image(src='/assets/img/content/blog/2019-17-02-map2.png' alt='')
		p
			| If you are not sure whether this or that state is two-party or one-party it&apos;s better to obtain permission from all participants of the conversation.
		p
		p
			| Note: The consent policy is based on the location of the prospect and not on the area code that their telephone phone number is registered in.
		h2.display-3 United Kingdom
		a(href='http://www.legislation.gov.uk/uksi/2000/2699/contents/made' target='_blank') Several laws
		|  control the legality of call recording in the United Kingdom. While there are no laws that ban taping personal inbound and outbound calls, there are various laws in place that regulate companies&rsquo; actions regarding recording voice calls and conversations. If you can&apos;t ensure that the conversation won&apos;t be shared with any third parties and is being taped to either collect evidence, guarantee regulatory compliance, or prevent offense, it&apos;s best to consider the U.K. to be an &quot;all-parties&apos; consent&quot; country.
		h2.display-3 Canada
		p
			| Canada has opted of 
			a(href='https://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-1.html' target='_blank') &quot;all-parties&apos; consent&quot; policy
			| : to tape a conversation, you need to get informed permission by notifying others that the call is being recorded. You should both tell the other party that you are going to record the conversation and explain them any purposes the recording will be used for.
		h2.display-3 Australia
		p
			| If you intend to record a call in Australia 
			a(href='https://www.legislation.gov.au/Details/C2017A00111' target='_blank') legally
			| , you must notify the participants of the conversation when you start talking so that they have the opportunity to either hang up, or to ask you to be transferred to another non-recorded line (if this is available).
		p
			| Note that in the state of Queensland, it is legal to tape a conversation provided that you are its participant.
		p
		h2.display-3 Germany
		p
			| Germany supports all-party consent approach, i.e. call recording without all parties&apos; permission is a crime. Besides, in Germany VOIP users need to have a German address to use a German telephone number. VOIP stands for Voice over Internet Protocol, a form of technology that allows for speech communication via the Internet.
		h2.display-3 France
		p
			| Under 
			a(href='https://www.cnil.fr/fr/declaration/ns-057-ecoute-et-enregistrement-des-conversations-telephoniques-sur-le-lieu-de-travail' target='_blank') the French jurisdiction
			| , only operations on data processing that contain recording staff phone conversations on a periodic basis are permitted. Moreover, the recording of phone calls cannot be realized by any public or private company whose goal is to collect sensitive personal data.
		h2.display-3 Other Countries...
		p
			| While we have mentioned several countries above, it&rsquo;s an incomplete list. Before recording a call, we advise you to make sure that your legal counsel and you have a clear understanding of any state or federal laws there.
		p