section.blog
	.container
		h1.text-center.text-primary.m-5.display-1 Everything You Need to Know About Three-Way Calling
		p
			b What is 3-way calling? How does it work?
		p
			| The feature that allows REKK to record your inbound and outbound calls is a feature you may have never heard of or used before. It’s usually called 3-way calling. This feature helps you connect calls from 2 lines into one group call. In other words, 3-Way Calling lets you talk to several parties simultaneously using your gadget.
		p
			b How do people call this feature?
		p
			| Three-way calling may be also called “three-way conference calling”, “conference calling”, or “a 3-way call”. When you use REKK to record incoming and outgoing phone calls on iPhone, you are making a conference call and REKK’s service number is one of its participants.
		p
			b Why do I need this feature?
		p
			| 3-way calling is invaluable when three people who are far away from one another need to talk. A three-way call makes their conversation quick and easy – you don’t have to make many calls and all 3 people can take part in the discussion.
		p
			b What should I do to enable 3-way calling?
		p
			| Your mobile carrier is the only service that can enable this feature for you. You need to contact its representative and ask them to enable 3-way calling.
		p
			b Where is it available?
		p
			| Conference calling is available in most countries, but it entirely depends on your mobile carrier if you can use this feature. Note that the following carrier companies don’t provide 3-way calling to most customers in the United States: Giff Gaff, Orange UK, EE, SimpleTalk, and H2O Wireless.
		p
			b What should I do to start 3-way calling?
		p
			| It’s not difficult to create a conference call, but you need to follow all the steps accurately. First of all, you need to make a call to one of the people you are going to talk to and wait for the party to answer. When the call is accepted, tap “Add call” and select the person you’re going to add to the conference.  Note that the person you called first will be put on hold. The next step is very important: as soon as the second call is accepted, tap MERGE CALLS on your screen. Your conference calling has started. By the way, you can merge up to 5 calls depending on your mobile carrier, so you can add more people to your conference (don’t forget to merge calls every time you add one more party).
		p
		p
			| If you need to speak privately to one of the parties, tap “Conference”, then tap “Private” next to the person you’re going to speak to and hang up. If you need to hang up with one party, tap “Conference”, chose the red phone icon next to the call you want to drop and end call.
		p
			b Can I record a call using 3-way conference calling?
		p
			| Yes, you can. And REKK Call Recorder will help you to do it. First you need to download 
			a(href='https://apps.apple.com/us/app/rekk-call-recording/id1475739728' target='_blank') REKK
			|  and register your phone number in the app. After that you can record all the necessary calls and convert them to text. To record an incoming call:
		p
		p 1. Accept the call that you want to record.
		p
		p 2. Minimize the call screen.
		p
		p
			img.blog-image(src='/assets/img/content/blog/14-11-19-user-number.png' alt='')
		p 3. Open REKK and tap the big round button to record the call.
		p
		p 4. Go back to the call screen and tap "Merge calls".
		p
		p
			img.blog-image(src='/assets/img/content/blog/14-11-19-user-hold.png' alt='')
		p
			| With REKK Call Recorder you can record outgoing calls without opening the application:
		p
		p 1.
		p
		p
			img.blog-image(src='/assets/img/content/blog/14-11-19-add-service-number.png' alt='')
		p
			| During the phone conversation tap “Add call “, select the service number REKK from the list of contacts.
		p
		p 2.
		p
		p
			img.blog-image(src='/assets/img/content/blog/14-11-19-user-hold.png' alt='')
		p When the service number accepts the call, tap "Merge calls".
		p
		p 3.
		p
		p
			img.blog-image(src='/assets/img/content/blog/14-11-19-end.png' alt='')
		p
			| As soon as you hang up, the recording will be available for you in REKK application.
		p