.footer {
	background: $black-gr;
	padding: 110px 0 70px 0;

	@include tablets-hor {
		padding: 50px 0 30px 0;
	}
}

.footer__content {
	display: flex;
	justify-content: space-between;
	@include tablets-hor {
		justify-content: center;
	}
}

.footer__text {
	color: #AEAEAE;
	max-width: 468px;
	font-family: $roboto;
	line-height: 28px;
	padding-left: 20px;
}

.footer__content-wrap {
	display: flex;

}

.footer__nav-wrap {
	margin-right: 45px;

	
	&:last-child {
		margin-right: 0;
	}

}

.footer__nav {
	margin-left: 145px;
	display: flex;

	@include tablets-hor {
		display: none;
	}
}

.footer__nav-title {
	font-family: $roboto;
	font-weight: $medium;
	text-transform: uppercase;
	font-size: 15px;
	color: $w;
}

.footer__nav-item {
	margin-top: 20px;
}

.footer__nav-item-link {
	font-family: $roboto;
	font-size: 17px;
	color: #AEAEAE;
}

.footer__copy  {
	font-family: $roboto;
	font-size: 17px;
	color: #AEAEAE;
	margin-top: 50px;

	@include tablets-hor {
		text-align: center;
		margin-top: 40px;
	}
}