.mainhero {
  padding: 125px 0 165px 0;
  margin-top: 80px;
}

.mainhero__title {
  text-align: center;

  @include phones {
    font-size: 30px;
    line-height: 35px;
  }
}

.mainhero__desc {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    display: flex;
    width: 28px;
    height: 28px;
    background-image: url("/assets/img/content/star.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
}

.mainhero__list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include desktop {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.mainhero__item-wrap-link {
  padding: 80px 50px 55px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @include desktop {
    padding: 40px 30px 40px 30px;
  }
}

.mainhero__item {
  width: 30%;
  // height: 540px;

  border-radius: 12px;
  overflow: hidden;
  min-width: 270px;
  // cursor: pointer;
  @include desktop {
    // padding: 40px 30px 40px 30px;
    width: 40%;
    max-width: 400px;
    margin-bottom: 20px;
    &:first-child {
      margin-right: 20px;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    &:first-child {
      margin-right: 0;
    }
  }

  &:first-child {
    background: url("/assets/img/icons/rekk-mobile.svg") no-repeat 57% 0,
      $blue-violet-gr;
    border: 1px solid #e3e3e3;
    background-size: cover;
  }

  &:nth-child(2) {
    background: url("/assets/img/icons/rekk-pc.svg") no-repeat -22% 165px,
      $black-gr;
    border: 1px solid #eaebf0;
    background-size: cover;
  }
  &:nth-child(3) {
    background: url("/assets/img/icons/rekk-cloud.svg") no-repeat 0 95%, $w-gr;
    background-size: 145%;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    .mainhero__item-title {
      color: $b;
    }

    .mainhero__item-item {
      color: $b;
      &::before {
        background: url("/assets/img/icons/point-black.svg") center center
          no-repeat;
      }
    }
  }
}

.mainhero__item-list {
  margin-bottom: 20px;
}

.mainhero__item-title {
  color: $w;
  font-size: 28px;
  margin-bottom: 35px;
}

.mainhero__item-text {
  min-width: 270px;
}

.mainhero__item-item {
  color: $w;
  font-family: $roboto;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  position: relative;

  &::before {
    content: "";
    width: 11px;
    height: 11px;
    background: url("/assets/img/icons/point-white.svg") center center no-repeat;
    display: flex;
    margin-right: 10px;
    font-weight: $bold;
    position: absolute;
    left: -20px;
    top: 5px;
  }
}

.mainhero__item-link {
  text-align: center;
  display: flex;
  padding: 20px 23px;
  text-transform: uppercase;
  background-repeat: 10px;
  color: #393939;
  font-family: $proxima;
  background-color: $w;
  border-radius: 10px;
  font-weight: $semi;
  transition: $norm;
  width: fit-content;

  &:hover {
    background-color: rgba($w, 0.8);
  }
}

.mainhero__item-button-wrap {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	
}

.mainhero__item-button--sign {
	margin-bottom: 10px;
  .mainhero__item-link {
    background-color: $violet;
    color: #fff;
  }
}
// @media (max-width: 1530px) {
//   .mainhero__item-button-wrap {
// 		flex-direction: column-reverse;
// 	}
	
// 	.mainhero__item-button--sign {
// 		margin-bottom: 10px;
// 	}
// }
// @media (max-width: $mediaWidthdesktop) {
//   .mainhero__item-button-wrap {
// 		flex-direction: row;
// 	}
	
// 	.mainhero__item-button--sign {
// 		margin-bottom: 0;
// 	}
// }
// @media (max-width: $mediaWidthTabletHorizontal) {
//   .mainhero__item-button-wrap {
// 		flex-direction: column-reverse;
// 	}
	
// 	.mainhero__item-button--sign {
// 		margin-bottom: 10px;
// 	}
// }
// @media (max-width: 700px) {
//   .mainhero__item-button-wrap {
// 		flex-direction: row;
// 	}
	
// 	.mainhero__item-button--sign {
// 		margin-bottom: 0;
// 	}
// }
// @media (max-width: $mediaWidthMobile) {
//   .mainhero__item-button-wrap {
// 		flex-direction: column-reverse;

// 	}
	
// 	.mainhero__item-button--sign {
// 		margin-bottom: 10px;
// 	}
// }
